.ela-test-page {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  justify-self: end;
  padding: 1rem;
}

.ela-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #8949ff;
}

.ela-question-input-cnt {
  width: 100%;
  min-height: 30rem;
  height: fit-content;
}

.ela-question-input {
  min-height: 10rem;
}

.ela-choice-input-cover {
  margin-top: 2rem;
  height: fit-content;
}

.ela-choice-cnt {
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}

.ela-inputs-cnt {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  /* padding: 1rem; */
}

.ela-choice {
  width:100%;
}

.ela-question-info-cnt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 500;
  padding-top: 1rem;
  border-top: 1px solid rgba(128, 128, 128, 0.47);
}

.ela-description {
  height: 6rem;
}
.ela-tags {
  height: 3rem;
}

.ela-dropdown-box {
  position: relative;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid gray;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.ela-dropdown-cnt {
  position: absolute;
  width: 100%;
  height: 12rem;
  top: -12.5rem;
  left: 0;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #bababa;
}

.ela-dropdown-element {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: #e7e7e7;
  cursor: pointer;
}

.ela-timer-input-cnt {
  width: 100%;
  height: 3rem;
  display: flex;
  gap: 2rem;
}

.ela-timer-input {
  width: 5rem;
  height: 2.5rem;
  text-align: center;
  font-weight: 500;
  color: #8949ff;
  font-size: 1.5rem;
}

.ela-timer-cover {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 700px) {
  .ela-inputs-cnt{
    padding: .5rem;
    margin-top: 0;
  }
  .ela-choice {
    width: 20rem;
  }
  .ela-question-input-cnt {
    width: 60%;
    min-height: 30rem;
    height: fit-content;
  }
  .ela-question-info-cnt {
    width: 35%;
    padding-top: 0;
    border: none;

  }
  .ela-choice-cnt {
    padding: 1rem;
  }
  .ela-dropdown-cnt {
    bottom: -12.5rem;
  }
}

@media (min-width: 1000px) {
  .ela-inputs-cnt{
    padding: 1rem;
  }
  .ela-test-page {
    width: calc(100% - 200px);
  }
}
