* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  scrollbar-width: 0;
  visibility: hidden;
  display: none;
}

.courses-page {
  display: grid;
  width: 100%;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.course-list-cnt {
  width: 100%;
  height: 100%;
  background: #ececec;
  justify-self: end;
  padding: 3rem 1rem 0 1rem;
  overflow-y: scroll;
}

.course-list-header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-course-btn {
  width: 9rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #8949ff;
  border-radius: 1rem;
  color: white;
}

.top-btn-text {
  font-weight: 400;
}

.course-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 1rem;
  margin-top: 3rem;
  /* background: #6a6a6a; */
}

.course-card {
  width: 10rem;
  height: 15rem;
  background: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 1px 10px 2px rgb(224, 224, 224);
  /* gap: 0.5rem; */
}

.course-img {
  width: 100%;
  height: 6rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.course-card-title {
  font-size: 0.7rem;
  font-weight: 700;
  color: rgb(80, 80, 80);
}

.course-card-description {
  font-size: 10px;
}

.course-edit-btn {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  background: #8949ff;
  color: white;
  cursor: pointer;
}

.top-header-cnt {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

.new-course {
  position: relative;
  height: fit-content;
  /* overflow: hidden; */
}
.course-delete-btn {
  width: 8rem;
  height: 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  background: rgba(255, 64, 64, 0.451);
  color: white;
  border: 1px solid #8949ff;
}
.course-new-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #8949ff;
}

.course-new-discription {
  font-size: 1rem;
  font-weight: 400;
}

.top-btn-cnt {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 1rem;
}

.input-split-cover {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2.5rem;
}
.left-form {
  width: 100%;
  height: 100%;
  /* border-right: 2px solid #d5d5d5; */
}
.course-name-cnt {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 600;
}
.name-input {
  width: 100%;
  height: 3rem;
  outline: none;
  background: transparent;
  border: 1px dashed #808080;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.course-description-cnt {
  margin-top: 1rem;
  font-weight: 600;
  width: 90%;
}

.description-input {
  width: 100%;
  height: 10rem;
  outline: none;
  background: transparent;
  border: 1px dashed #808080;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.overviewPoint-cnt {
  width: 100%;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 1px 1px 10px 2px rgb(224, 224, 224);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.overview-input-cnt {
  width: 100%;
  height: fit-content;
  display: grid;
  gap: 1rem;
  /* border-bottom: 1px solid rgb(193, 193, 193); */
  /* box-shadow: 1px 1px 10px 2px rgb(224, 224, 224); */
  /* background-color: #fff; */
  /* padding: 1rem; */
}

.overviewPoint-heading {
  color: #8949ff;
}

.overviewPoint-content {
  font-size: 14px;
  font-weight: 400;
}

.overview-input {
  height: 5rem;
  padding: 1rem;
}

.overview-add-btn {
  width: 5rem;
  height: 2rem;
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
  background: #8949ff;
  color: #ffffff;
}

.form-right {
  width: 100%;
  height: 100%;
  margin-top: 5rem;
}

.form-right-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}

.form-right-heading {
  font-size: 1.5rem;
  font-weight: 600;
}

.add-new-lesson-btn {
  width: 8rem;
  height: 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #8949ff;
  color: #ffffff;
  font-weight: 500;
  font-size: 0.9rem;
}

.no-lesson-cnt {
  width: 100%;
  height: 100%;
}

.empty-lesson-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.lesson-list-cnt {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lesson {
  position: relative;
  cursor: pointer;
  width: 100%;
  /* height: 15rem; */
  height: fit-content;
  border-radius: 1rem;
  background: #e3d5fa;
  padding: 1rem;
  margin-top: 2.5rem;
  &:hover {
    box-shadow: 1px 1px 10px 2px rgb(214, 214, 214);
  }
}

.lesson-number {
  position: absolute;
  top: -2.5rem;
  font-size: 3rem;
  font-weight: 700;
  color: #8949ff;
}

.lesson-title-cnt {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  padding-left: 1rem;
  border-bottom: 1px dashed #8949ff;
}

.lesson-title {
  font-size: 1.4rem;
  font-weight: 600;
}

.lesson-subtitle-cnt {
  width: 100%;
  padding: 0.5rem 0 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lesson-subtitle {
  font-size: 1rem;
  font-weight: 400;
}

.lesson-duration-txt {
  font-size: 1rem;
  font-weight: 300;
}

.lesson-popup-cnt {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #72727265;
  z-index: 10;
  top: 0;
  right: 0;
}

.lesson-new-cnt {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2rem;
  padding: 2rem;
  padding-left: 2rem;
  background: #ffffff;
}

.new-lesson-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lesson-name-cnt {
  width: 100%;
  margin-top: 2rem;
}

.lesson-title-input {
  width: 100%;
  height: 4rem;
  outline: none;
  background: transparent;
  border: 1px dashed #808080;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.content-list {
  width: 100%;
  height: 70%;
  /* background: #d8d8d8; */
  overflow-y: scroll;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 0.5rem;
}

.sublesson {
  padding: 1rem;
  height: fit-content;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px 2px rgb(224, 224, 224);
}

.lesson-content-input-cnt {
  width: 100%;
}

.sublesson-name-cnt {
  width: 100%;
}

.sublesson-title-txt {
  color: gray;
}

.sublesson-title-input {
  width: 100%;
  height: 2.5rem;
  outline: none;
  background: transparent;
  border: 1px dashed #808080;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.sublesson-content-cover {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.sublesson-duration-input {
  width: 100%;
}

.file-title-input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.center-media {
  width: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: x-small;
}
.input-cnt {
  width: 25%;
}

.add-sublesson-btn {
  width: 4rem;
  align-self: flex-end;
}
.edit-sublesson-btn {
  display: flex;
  justify-content: space-around;
  background: transparent;
  cursor: default;
}

.delete-btn {
  width: 3rem;
  height: 2.5rem;
  /* background: #8949ff9a; */
  cursor: pointer;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.action-btn-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cancel-btn {
  background: rgb(240, 114, 114);
}

.sublesson-card-input {
  border: 1px solid rgba(128, 128, 128, 0.593);
}

@media (min-width: 700px) {
  .course-list {
    justify-content: flex-start;
    gap: 2rem;
  }
  .input-split-cover {
    flex-direction: row;
  }
  .left-form {
    width: 50%;
  }
  .top-header-cnt {
    display: flex;
    justify-content: space-between;
  }
  .top-btn-cnt {
    gap: 2rem;
  }
  .course-name-cnt {
    width: 80%;
  }
  .course-description-cnt {
    width: 80%;
  }
  .form-right {
    width: 50%;
    height: 100%;
    padding-left: 1rem;
  }
  .add-new-lesson-btn {
    width: 9rem;
    height: 2.5rem;
    font-size: 1rem;
  }

  .course-delete-btn {
    width: 9rem;
    height: 2.5rem;
  }
  .lesson-popup-cnt {
    bottom: 0;
  }
  .new-lesson-top {
    flex-direction: row;
  }
  .lesson-name-cnt {
    width: 40%;
    margin-top: 2rem;
  }
  .lesson-content-input-cnt {
    width: 40%;
  }
  .center-media {
    width: 100%;
    font-size: small;
  }
  .add-sublesson-btn {
    width: 8rem;
  }
}

@media (min-width: 1000px) {
  .course-list-cnt {
    width: calc(100% - 200px);
    padding: 3rem 4rem 0 4rem;
  }
  .course-card {
    width: 16rem;
    height: 19rem;
    padding: 1rem;
  }
  .course-card-title {
    font-size: 0.9rem;
    font-weight: 700;
  }
  .course-card-description {
    font-size: 13px;
  }
  .course-img {
    height: 7rem;
  }
  .course-edit-btn {
    height: 2.2rem;
  }
  .lesson-title {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .lesson-subtitle {
    font-size: 1.2rem;
    font-weight: 400;
  }
  .lesson-number {
    top: -3rem;
    font-size: 4rem;
    font-weight: 800;
  }
  .new-course {
    min-height: 100vh;
  }
}
